@charset "UTF-8";

@font-face {
  font-family: "rent";
  src:url("fonts/rent.eot");
  src:url("fonts/rent.eot?#iefix") format("embedded-opentype"),
    url("fonts/rent.woff") format("woff"),
    url("fonts/rent.ttf") format("truetype"),
    url("fonts/rent.svg#rent") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "rent" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="sys-icon-"]:before,
[class*=" sys-icon-"]:before {
  font-family: "rent" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.sys-icon-squidoo:before {
  content: "a";
}
.sys-icon-octopus:before {
  content: "b";
}
.sys-icon-telescope:before {
  content: "c";
}
.sys-icon-edit-write:before {
  content: "d";
}
.sys-icon-magnet:before {
  content: "e";
}
